:root {
  --brown-color: #dcc1ab;
  --green-color: #1b5b31;
  --dark-green-color: #144927;
  --gray-color: #f5f0ec;
}
:root {
  --xs-font-size: 12px;
  --sm-font-size: 14px;
  --standard-font-size: 16px;
  --lg-font-size: 24px;
  --xl-font-size: 48px;
  --xxl-font-size: 60px;
}

.body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
}

.home-section {
  position: relative;
  background-color: var(--brown-color);
}

.home-section_background {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 680px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.home-section_background-brown {
  width: 100%;
  height: 400px;
  background-color: var(--brown-color);

  @media (min-width: 680px) {
    height: 737px;
  }
}

.home-section_background-img1 {
  width: 100%;
  height: 300px;
  background-image: url("public/img/hero-photo.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 680px) {
    height: 737px;
  }
}

.home-section_background-img2 {
  height: 100%;
  background-image: url("public/img/hero-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 680px) {
    height: 737px;
  }
}

.home-section_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-section_text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45%;

  @media (min-width: 680px) {
    width: 45%;
    height: 100%;
  }
}

.home-section_main-title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;

  @media (min-width: 680px) {
    margin-bottom: 44px;
  }
}

.home-section_btn-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 680px) {
    margin-top: 70px;
  }
}

.home-section_carousel-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: var(--gray-color);
  padding: 24px 16px;
}
.home-section_carousel-button {
  margin: 0 16px;
}

.offer-section {
  padding: 120px 0 160px;
  background-color: var(--gray-color);
}

.offer-section_header {
  margin: 0 100px;
  max-width: 700px;
}

.offer-section_content {
  display: flex;
  margin-top: 96px;
}

.offer-section_content .card:first-child {
  margin-right: 64px;
}

.offer-section_content .card:last-child {
  margin-left: 64px;
}

.aboutUs-section {
  position: relative;
}

.aboutUs-section_background {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.aboutUs-section_background-green {
  background-color: var(--green-color);
}

.aboutUs-section_background-img {
  height: 720px;
  background-image: url("public/img/o-firmie.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs-section_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.aboutUs-section_text {
  height: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.realizations-section {
  position: relative;
  padding: 120px 0;
  background-color: var(--brown-color);
}

.realizations-section_backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(220, 193, 171, 1) 0%,
    rgba(220, 193, 171, 0.7553615196078431) 31%,
    rgba(220, 193, 171, 0.0214679621848739) 100%
  );
}

.realizations-section_backdrop--hidden {
  display: none;
}

.realizations-section_title {
  margin: 0px 100px;
}

.realizations-section_gallery {
  max-height: 1000px;
  overflow: hidden;
}

.realizations-section--visible {
  overflow: auto;
  max-height: none;
}

.gallery-item {
  margin-bottom: 20px;
  /* width: calc(100% / 3 - 20px); */
}

.grid-sizer,
.gallery-item {
  width: 32.66%;
}

.gutter-sizer {
  width: 1%;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.contact-section {
  padding: 60px;
}

.contact-section_background {
  padding: 120px 110px;
  background-color: var(--green-color);
  display: flex;
  color: white;
}

.contact-section_title {
  padding-right: 64px;
}

.footer {
  padding: 20px 0;
  background-color: black;
  color: white;

  @media (min-width: 992px) {
    padding: 80px 0;
  }
}

.footer_contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.footer_contact-us-text {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.footer_contact-us-text-to-us {
  @media (min-width: 992px) {
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.footer_white-line {
  background-color: white;
  margin: 62px 0;
}

.footer_contact-data {
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_contact-data a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.footer_contact-data-details a:last-child {
  margin-right: 0;
}

.footer_contact-data-social-media a:first-child {
  margin-left: 0;
}

.footer_rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_rights-author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 25px;
  padding: 12px 24px 14px;
}

.button-green-filled {
  border: var(--green-color);
  background-color: var(--green-color);
  color: var(--gray-color);
  transition: background-color, 0.5s;
}

.button-green-filled:hover {
  background-color: var(--dark-green-color);
}

.button-white-filled {
  border: white;
  background-color: white;
  color: var(--green-color);
  transition: background-color, 0.5s;
}

.button-white-filled:hover {
  background-color: var(--gray-color);
}

.button-outline {
  background-color: transparent;
  transition: background-color, 0.5s;
}

.button-outline_green {
  color: var(--green-color);
  border: 1px solid var(--green-color);
}

.button-outline_white {
  color: white;
  border: 1px solid white;
}

.button-outline_green:hover {
  background-color: rgba(5, 44, 5, 0.1);
}

.button-outline_white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.no-outline:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(165, 164, 164);
}

.sm-font-size {
  font-size: var(--sm-font-size);
  font-family: "Inter", sans-serif;
}

.xxl-font-size {
  font-size: var(--lg-font-size);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  @media (min-width: 576px) {
    font-size: var(--xl-font-size);
  }
  @media (min-width: 992px) {
    font-size: var(--xxl-font-size);
  }
}

.badge {
  font-size: var(--xs-font-size);
}

.green-badge {
  color: var(--green-color);
}

.white-badge {
  color: white;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: var(--xl-font-size);
  padding-bottom: 32px;
}

.title-italic {
  font-style: italic;
}

.card {
  padding: 48px 40px;
  background-color: white;
  max-width: 370px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 5px rgb(240, 238, 238);
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.card_icon {
  margin-bottom: 32px;
}

.card_title {
  margin-bottom: 12px;
}

.card_link a {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--green-color);
  color: var(--green-color);
}

.card_link a:hover {
  text-decoration: none;
}
