:root {
  --brown-color: #dcc1ab;
  --green-color: #1b5b31;
  --dark-green-color: #144927;
  --gray-color: #f5f0ec;
}
:root {
  --xs-font-size: 12px;
  --sm-font-size: 14px;
  --standard-font-size: 16px;
  --lg-font-size: 24px;
  --xl-font-size: 48px;
  --xxl-font-size: 60px;
}

.body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
}

.home-section {
  position: relative;
  background-color: var(--brown-color);
}

.home-section_background {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-section_background-brown {
  height: 737px;
  background-color: var(--brown-color);
}

.home-section_background-img1 {
  height: 737px;
  background-image: url("public/img/hero-photo.png");
}

.home-section_background-img2 {
  height: 100%;
  background-image: url("public/img/hero-image2.jpg");
}

.home-section_title {
  font-size: var(--xxl-font-size);
  margin-bottom: 40px;
}

.home-section_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-section_text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
}

.home-section_btn-group {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-section_carousel-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: var(--gray-color);
  padding: 24px 16px;
}
.home-section_carousel-button {
  margin: 0 16px;
}

.offer-section {
  padding: 120px 0 160px;
  background-color: var(--gray-color);
}

.offer-section_header {
  margin: 0 100px;
  max-width: 700px;
}

.offer-section_content {
  display: flex;
  margin-top: 96px;
}

.button {
  border-radius: 25px;
  padding: 12px 24px 14px;
}

.button-green-filled {
  border: var(--green-color);
  background-color: var(--green-color);
  color: var(--gray-color);
  transition: background-color, 0.5s;
}

.button-green-filled:hover {
  background-color: var(--dark-green-color);
}

.button-green-outline {
  border: 1px solid var(--green-color);
  color: var(--green-color);
  background-color: transparent;
  transition: box-shadow, 0.5s;
}

.button-green-outline:hover {
  box-shadow: 1px 2px var(--dark-green-color);
}

.no-outline:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(165, 164, 164);
}

.sm-font-size {
  font-size: var(--sm-font-size);
  font-family: "Inter", sans-serif;
}

.xxl-font-size {
  font-size: var(--xxl-font-size);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.green-badge {
  font-size: var(--xs-font-size);
  color: var(--green-color);
}

.title {
  font-size: var(--xl-font-size);
  padding-bottom: 32px;
}

.title-italic {
  font-style: italic;
}

.card {
  padding: 48px 40px;
  background-color: white;
  max-width: 370px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 5px rgb(240, 238, 238);
}
